@import "./../node_modules/foundation-sites/scss/foundation.scss";
@include foundation-everything;

:root {
  --gameboard__container_size: min(60vw, 75vh);
  --gameboard__square_fontsize: calc(var(--gameboard__container_size) * 0.25);
  --gameboard__square_fontsize_invalid: calc(
    var(--gameboard__square_fontsize) * 1.1
  );
  --gameboard__square_gap: calc(var(--gameboard__square_fontsize) * 0.03);
  --title__main_game_fontsize: calc(var(--gameboard__container_size) * 0.15);
  --winner__fontsize: calc(var(--title__main_game_fontsize) * 1.5);
}

@keyframes winner {
  0%,
  100% {
    color: black;
  }
  50% {
    color: gold;
  }
}

@keyframes invalid-flash {
  0%,
  100% {
    background-color: darkred;
    font-size: var(--gameboard__square_fontsize);
  }
  50% {
    background-color: red;
    font-size: var(--gameboard__square_fontsize_invalid);
  }
}

.button__container {
  text-align: center;
}

.button__main_menu {
  color: black;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  border: 2px black solid;
  border-radius: 0.25rem;
  padding: 0.1rem 0.5rem;
  margin: 0 1rem 1rem 1rem;
  width: auto;
  display: inline-block;
  cursor: pointer;
}

.button__main_menu:hover {
  background-color: lightgray;
}

.button__playerForm {
  @extend .button__main_menu;
  background-color: white;
}

.button__playerForm:hover {
  background-color: rgb(233, 233, 233);
}

.button__winner {
  @extend .button__main_menu;
  background-color: white;
  font-size: 16px;
  border: 2px gold solid;
}

.button__winner:hover {
  background-color: lightgray;
}

.gameboard__container {
  width: var(--gameboard__container_size);
  height: var(--gameboard__container_size);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: var(--gameboard__square_gap);
}

.gameboard__square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px black solid;
  font-size: var(--gameboard__square_fontsize);
  line-height: 1;
  cursor: pointer;
}

.gameboard__square_background_valid:hover {
  background-color: lightgreen;
}

.gameboard__square_background_invalid:hover {
  background-color: red;
}

.gameboard__square_invalid_click {
  animation: invalid-flash 0.2s 2;
}

.popout__container {
  z-index: 999;
  position: absolute;
  top: 10vh;
  left: 10vw;
  height: 65vh;
  width: 80vw;
  border-radius: 1rem;
  background-color: lightgray;
  padding: 2rem;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.popout__container_input {
  display: inline-block;
  width: 50vw;
}

.popout__container_label {
  display: inline;
  margin-right: 1rem;
}

.popout__container_errorMessage {
  font-weight: bold;
  color: red;
  margin-bottom: 0.5rem;
}

.title__container_center {
  text-align: center;
}

.title__main_game {
  color: black;
  text-align: center;
  margin: 0 auto;
  font-style: italic;
  font-size: var(--title__main_game_fontsize);
}

.title__form {
  color: black;
  text-align: center;
  margin: 1rem auto;
  font-size: 35px;
}

.winner__bounce {
  animation: winner 0.25s 6;
}

.winner__container {
  border-radius: 0.5rem;
  background-color: blue;
  padding: 0 3rem;
  
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.winner__font {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", Arial, sans-serif;
  font-size: var(--winner__fontsize);
  font-weight: 600;
  color: yellow;
}
